<div class="container">
  <div class="row" style="background-color: lightblue">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Assessment 4</h6>
        <h3 class="dashhead-title">TodoList</h3>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      AddTodo
    </button>
    <!-- Model -->

    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="TodoName" class="form-label">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="todoName"
                  [(ngModel)]="id_to_add"
                />
              </div>
              <div class="mb-3">
                <label for="TodoName" class="form-label">Todo</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="todoName"
                  [(ngModel)]="todo_to_add"
                />
              </div>
              <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <input
                  type="text"
                  class="form-control"
                  id="priority"
                  [(ngModel)]="Priority_to_add"
                  name="priority"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="
                add.emit({
                  _id: id_to_add,
                  name: todo_to_add,
                  priority: Priority_to_add
                })
              "
            >
              Add Todo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Todo</th>
          <th scope="col">Priority</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todos of todoList">
          <td>{{ todos.name }}</td>
          <td>{{ todos.priority }}</td>
          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              (click)="setTodo(todos)"
            >
              Update
            </button>
          </td>
          <td>
            <button class="btn btn-dark" (click)="del.emit(todos._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- update Model -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="TodoName" class="form-label">Updated Todo</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="todoName"
              [(ngModel)]="up_todo_name"
            />
          </div>
          <div class="mb-3">
            <label for="priority" class="form-label">Updated Priority</label>
            <input
              type="text"
              class="form-control"
              id="priority"
              [(ngModel)]="up_priority"
              name="priority"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="
            up.emit({
              _id: id_to_add,
              name: up_todo_name,
              priority: up_priority
            })
          "
        >
          Update Todo
        </button>
      </div>
    </div>
  </div>
</div>
